.inputArea {
  min-height: 50px;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.plusButton {
  background-color: lightslategray;
  width: 50px;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}